*{
    margin: 0%;
    padding: 0%;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
    /* width: 90vw; */
    /* border: 1px; */

}
#logo{
  height: 11vh;
  width: 10vw;
  /* margin-left: 1.95%; */
  margin-left: 19.5%;
}
#imgt{
  height: 80vh;
  width: 80vw;
  margin-left: 10%;
}
form{
  margin-left: 25%;
  /* height: 50%; */
}

#zoek{
  margin-left: -90px;
  height: 36px;
  width: 40px;
}

header{
 
    display: flex;
    top: 0%;
    height: 10vh;
    width: 100vw;
    background-color: blue;
    color: white;
    align-items: center;
    flex-direction: row;
}
footer{
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  background-color: blue;
  color: white;

}
#inlog{
  /* top: right; */
  margin-left: 15%;

}
body{
  /* display: flex;  */
  /* width: 100%; */
  /* height: 100%  ;   */
  overflow-x: hidden;
  /* overflow-y: hidden; */
  margin-left: 0vw;
}
.producten{
  margin-left: 25%;
}
#bodyinlog{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-right: 50%;
}

a{
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: bolder;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
     /* background-color: #333;  */
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    /* background-color: blue; */
    background-color: grey;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .menuright{
    position: right;
    padding-left: 60vw;
  }
  .menuleft{
    position: left;
    padding-left: 4vw;
    
  }
  #menu1{
    margin-left: 15vw;
  }
  #land{
    background-image: url(img/flag-netherlands_1f1f3-1f1f1.png);
    background-size: cover;
  }
  .inlog{
    /* margin:1vh 3vw 0 0; */
    /* float: right;  */
    /* width: 8vw; */
    /* height: 5vh; */
    /* background-color:#b0bd36; */
    /* border-radius: 20px; */
    /* position: fixed; */
    /* right: 0; */
    /* top: 0; */
    text-decoration: underline;
    /* margin-left: 15vw; */
    /* margin-left: 15vw; */
    }
  #Inlog_a { 
    /* font-size: 2rem; */
    font-size: medium;
    top: right;
    /* margin-left: 15vw; */
  }
  #zoeken{
    border-radius: 15px;
    height: 35px;
    width: 450px;
    margin-left: -6vw;
  }
  #favorites{
    height: 40px;
    width: 55px;
  }
  #winkelwagentje{
    height: 35px;
    width: 50px;
  }
  #account{
    color: black;
    /* margin-left: 15vw; */
  }
  #persoon{
    height: 35px;
    width: 50px;
  }


#INLOG{
  display: flex;
  width: 50vw;
  height: 60vh;
  background-color: white;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */

}

#log{
  margin-left: -10vw;
}

.inl{
  display: flex;
  width: 100vw;
  height: 80vh;
  background-color: blue;
  justify-content: center;
  align-items: center;
  margin-left: 0vw;
}



#dc{
  display: flex;
  flex-direction: column;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
























